/.emacs.d/eln-cache/
/.emacs.d/elpa/
/.emacs.d/history
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/recentf
/.emacs.d/transient/
/eln-cache/
/elpa/
/history
/projectile-bookmarks.eld
/recentf
/transient/
/projects
/elfeed/
/custom.el
/url/
